<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>



<div class="topnav">
    <a href="home">Home</a>
    <a class="active" href="about">About</a>
    <a href="reservations">Reservations</a>
    <a href="moreparks"> More Parks</a>
    <b> Bug Free Campground</b>
    </div>

    
    <h1 style = "text-align: center;">About</h1>
</div>

<div class="textbody" >
    <h3> Bug Free Campground (but does have pythons) is located off of Binary Boulevard and Syntax Street in Pigeon Hole Praire, UI. Bug Free Campground offers an etensive trails system with over 15 miles of hiking, biking,
      and equestrian trails, a beach for swimming and lakes and rivers for fishing. 
      Come explore the natural world with Bug Free Campground!
      <br> expand on this info
      <h1 style="text-align: center;"> Rules and Regulations </h1>
  </div>

    </h3>
    <center>
    <img  class="mapImg" src="images/campgroundmap.jpg" alt="mockmap" style="width:1000px;height:562px;"> <!-- carousel here-->
  </center>
      </p>
        

        <footer>
            <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project. </p>
          </footer>


  </body>
  </html>