<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="./css/style.css">
</head>

<body>



  <div class="topnav">
    <a href="home">Home</a>
    <a class="active" href="about">About</a>
    <a href="reservations">Reservations</a>
    <a href="moreparks"> More Parks</a>
    <b> Bug Free Campground</b>
  </div>

  <div class="aboutPageContainer">
    <h1 style="text-align: center;">About</h1>

    <main>
      <div class="textbody">
        <address>Binary Boulevard <br> Pigeon Hole Praire, UI 16180</address> <br> <br>
        <!-- note to self - put address in footer-->

        Bug Free Campground is located off of Binary Boulevard in Pigeon Hole Praire, UI 16180. 

        Bug Free Campground was established on January 1st, 1970. The first camping season took place in 1972, where the campground only offered 5 sites! Due to the campgrounds
        popularity, expansion began in 1975 installing hookups in the first 2 loops of the park. Linux Lake was opened for swimming in 1990, the trails were installed in 2007
        with more additions in 2015. All campsites were rented on a first-come first-serve basis until 2024 with the addition of a new website for campground reservations. 
        <br> <br>
        Now, Bug Free Campground offers an etensive trails system with over 15 miles of hiking and biking
        trails, a beach for swimming and lakes and rivers for fishing. The campground has 99 sites with full-hookup, water and electric, and rustic ammenties available.
        It is our goal for you to have the best experience possible, whether you travel alone or with your family. So kick your feet up, and enjoy your home-away-from-home at Bug Free Campground!
        <br> <br>
        <center>
          <div class="iframe-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d5856.2995924738225!2d-83.29015135374881!3d42.78518302758815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d42.784434999999995!2d-83.2881129!5e0!3m2!1sen!2sus!4v1717124525362!5m2!1sen!2sus"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <center><h3>Come explore the natural world with Bug Free Campground! </h3></center>
        </center>
      </div>
  </div>
  <hr width="100%" size="2">
  <div class="rulesAndRegsContainer">
    <h1 style="text-align: center;"> Rules and Regulations </h1>

    <div class="textbody split-section" >
      <div>
        <h3>Reservations and Check-in</h3>
        <ul>
          <li>Check-in time is 2:00 PM. Check-out time is 12:00 PM.</li>
          <li>All campers must register at the campground office upon arrival.</li>
          <li>Campsites are assigned upon registration. Changing sites without approval is prohibited.</li>
        </ul>

        <h3>Quiet Hours</h3>
        <ul>
          <li>Quiet hours are from 11:00 PM to 6:00 AM.</li>
          <li>Loud music, generators, and other noise-producing equipment must be turned off during quiet hours.</li>
        </ul>

        <h3>Visiting Hours</h3>
        <ul>
          <li>Visiting hours are from 8:00AM to 8:00PM.</li>
          <li>Visitors must purchase a day pass from the contact station.</li>
        </ul>
      </div>
      <div>
        <h3>Vehicles and Parking</h3>
        <ul>
          <li>The speed limit within the campground is 15 MPH.</li>
          <li>Park only in designated areas. Do not park on the grass or in non-designated spots.</li>
          <li>Limit of two vehicles per campsite.</li>
        </ul>

        <h3>Natural Resources</h3>
        <ul>
          <li>Do not damage trees, plants, or other natural features.</li>
          <li>Stick to marked trails and avoid creating new paths.</li>
          <li>We are compliant with DNR restrictions on fishing. See their website for updated procedures and more
            information.</li>
        </ul>
      </div>
    </div>
  </div>

  <hr width="100%" size="2">

  <div class="textbody">
    <h1>
      <center>Misc. Info</center>
    </h1>
    <li>The campground is mowed on Tuesdays. Please be sure to remove lawn decorations and furntiture to avoid damage.
    </li>
    <li> Mail cannot be sent to the campground. </li>
    <li> Information about local shops and attractions will be provided upon request at the contact station. </li>

  </div>

  <hr width="100%" size="2">


  <div class="rulesAndRegsContainer">
    <h1>
      <center> Questions or Concerns? Contact Us! </center>
    </h1> <!-- include or no?-->
    <div class="textbody">
      </p>
      <center>
        <form action="mailto:fakeemail@fake.fake" method="GET">
          <!-- FIXME for demo put real email and show it works if nessasary. -->
          <div>
            <p> Email us:</p>
            <input type="text" placeholder="Subject" name="subject" required />
          </div>
          <div>
            <textarea placeholder="Your message" name="body" rows="10" cols="40" required></textarea>
          </div>
          <div>
            <button type="submit">Send email</button>
          </div>
        </form>
      </center>
      <center>
        <div class="callform">
          <p> Call us:</p>
          <a href="tel:123-456-7890">123-456-7890</a>
          <!-- FIXME put real number if possible or just burner for actual site-->
        </div>
      </center>
    </div>
    <br>
  </div>


  <!-- <center>
        
      <img  class="mapImg" src="images/campgroundmap.jpg" alt="mockmap" style="width:1000px;height:562px;" title="Map of the campground"  draggable="false">
        </p>
      </center> -->

  </main>


  <footer>
    <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project. </p>
  </footer>

</body>
</html>