<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="title">
    <h1 style = "text-align: center;">About Bug Free Campground</h1>
    </div>
    <div class="row">
        <div class="column" style ="background-color:#ACCEF8;">
            <center>
                <a href="home" class="hidehyperlink">
                   <h2>Home Page</h2> </a>
            </center>
    </div> 
        <div class="column" style ="background-color:#DFDFDF;">
            <center>
              <a href="reservations" class="hidehyperlink">
                <h2>Reservations</h2> </a>
    </center>
    </div>
        <div class="column" style = "background-color: #ACCEF8">
            <center>
              <a href="moreparks" class = "hidehyperlink">
                <h2>More Parks</h2> </a>
                </center>
    </div>
      </div>
      <div class="textbody" >
      <h3> Bug Free Campground is located off of Binary Boulevard and Syntax Street in Pigeon Hole Praire, UI. Bug Free Campground offers an etensive trails system with over 15 miles of hiking, biking,
        and equestrian trails. We offer swimming, fishing, and kayak and row boat rentals available from 10:00AM to 5:00PM Friday-Monday.
        Come explore the natural world with Bug Free Campground!
        <br> expand on this info
        <br> section on rules and regulations
        <br> brief description on campground terms?
    </div>

      </h3>
      <center>
      <img src="images/mockmap.jpg" alt="mockmap" style="width:1000px;height:562px;"> <!-- carousel here if want??-->
    </center>
        </p>
          

    </a>
</body>
<footer>
    <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project. </p>
  </footer>
</html>