<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="title">
    <h1 style = "text-align: center;">Explore More Parks</h1>
    </div>
    <div class="row">
        <div class="column" style ="background-color:#ACCEF8;">
            <center>
                <a href="home" class="hidehyperlink">
                   <h2>Home Page</h2> </a>
            </center>
    </div> 
        <div class="column" style ="background-color:#DFDFDF;">
            <center>
              <a href="reservations" class="hidehyperlink">
                <h2>Reservations</h2> </a>
    </center>
    </div>
        <div class="column" style = "background-color: #ACCEF8">
            <center>
              <a href="about" class = "hidehyperlink">
                <h2>About</h2> </a>
                </center>
    </div>

   
    <p> filler text </p>
    
          
</body>
<footer>
    <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project. </p>
  </footer>
</html>