<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="topnav">
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="reservations">Reservations</a>
        <a class="active" href="moreparks"> More Parks</a>
        <b> Bug Free Campground</b>
    </div>

    <main>
        <div>
            <h1 style="text-align: center;">More Parks</h1>
        </div>
        <div class="parks-container">
            <a href="https://troynaturesociety.org/">
                <section>
                    <img src="images/frog.png" alt="Image of park">
                    <h2>Stage Nature Center</h2>
                    With friendly staff and miles of trails, Stage Nature Center has activities for the whole family. The
                        park is full of deer, and houses a number of rescued owls.
                </section>
            </a>
            <a href="https://romi.gov/facilities/facility/details/Tenhave-Woods-at-Quickstad-Park-33">
                <section>
                    <img src="images/trout.png" alt="Image of park">
                    <h2>Tenhave Woods</h2>
                    Tenhave Woods has 22 acres of protected land trails, a plethoral of wildflowers in the spring, mushrooms in the fall, and qr codes to learn more about nature.
                </section>
            </a>
            <a href="https://www.metroparks.com/kensington-metropark/">
                <section>
                    <img src="images/geese.jpg" alt="Image of park">
                    <h2>Kensington Metropark</h2>
                    Come enjoy Kent Lake with beaches, fishing, boating, trails, and abundant wildlife.
                    Also check out events at the nature center, golf, and disc golf. 
                </section>
            </a>
            <a href="https://www.johnsonnaturecenter.org/">
                <section>
                    <img src="images/butterfly-flowers.jpg" alt="Image of park">
                    <h2>Johnson Nature Center</h2>
                    Check out Johnson Nature Center's forty-acres with views of lakes, miles of trails, and historical buildings on site.
                </section>
            </a>
        </div>
    </main>

    <footer>
        <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project.</p>
    </footer>


</body>

</html>