<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>

        <div class="topnav">
            <a href="home">Home</a>
            <a href="about">About</a>
            <a href="reservations">Reservations</a>
            <a class = "active" href="moreparks"> More Parks</a>
            <b> Bug Free Campground</b>
        </div>

        <main>
            <div>
                <h1 style = "text-align: center;">More Parks</h1>
            </div>
            <div class="parks-container">
                <a href="#">
                    <section>
                        <img src="images/1.jpg" alt="Image of park">
                        <h2>park name</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eveniet nisi dignissimos obcaecati blanditiis porro, pariatur voluptatem possimus officiis ab consectetur rem ducimus doloribus nulla, asperiores earum maiores ea neque.</p>
                    </section>
                </a>
                <a href="#">
                    <section>
                        <img src="images/1.jpg" alt="Image of park">
                        <h2>park name</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eveniet nisi dignissimos obcaecati blanditiis porro, pariatur voluptatem possimus officiis ab consectetur rem ducimus doloribus nulla, asperiores earum maiores ea neque.</p>
                    </section>
                </a>
                <a href="#">
                    <section>
                        <img src="images/1.jpg" alt="Image of park">
                        <h2>park name</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eveniet nisi dignissimos obcaecati blanditiis porro, pariatur voluptatem possimus officiis ab consectetur rem ducimus doloribus nulla, asperiores earum maiores ea neque.</p>
                    </section>
                </a>
                <a href="#">
                    <section>
                        <img src="images/1.jpg" alt="Image of park">
                        <h2>park name</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum eveniet nisi dignissimos obcaecati blanditiis porro, pariatur voluptatem possimus officiis ab consectetur rem ducimus doloribus nulla, asperiores earum maiores ea neque.</p>
                    </section>
                </a>
            </div>
        </main>  

        <footer>
            <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project.</p>
        </footer>


    </body>
</html>