<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

  <div class="topnav">
      <a href="home">Home</a>
      <a href="about">About</a>
      <a class= "active" href="reservations">Reservations</a>
      <a href="moreparks"> More Parks</a>
      <b> Bug Free Campground</b>
      </div>

      
      <h1 style = "text-align: center;">Reservations</h1>
  </div>
  <main>
    <div class="textbody" >
        <h3> 
      </div>

        </h3>
        <center>
        <img class="mapImg" src="images/campgroundmap.jpg" alt="mockmap" style="width:1000px;height:562px;">
      </center>
          </p> 
          <center>   <!-- cut form.example class-->
          <form action="/search" method="get" >

                  <label for="start-date">Start date:</label>
                  <input type="date" id="start-date" name="startDate" required />
                  <label for="start-date">End date:</label>
                  <input type="date" id="end-date" name="endDate" required />
                  <br>


                  <label for="sites">Select a type of campsite:</label>

                  <select name="sites" id="sites">
                    <option value="fullHookup">Full hookup</option>
                    <option value="waterAndElectric">Water and electric</option>
                    <option value="rustic">Rustic</option>
                  </select>

                        <div class="form-example">
                        <br>

                        <button type="submit" class="block">Search Availability</button>
                        </center>
                </div>
              </div>
            </form> 
        </main>
        

        <footer>
            <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project. </p>
        </footer>

          

  </body>
  </html>