<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="title">
    <h1 style = "text-align: center;">Bug Free Campground: Reservations</h1>
    </div>
    <div class="row">
        <div class="column" style ="background-color:#ACCEF8;">
            <center>
                <a href="home" class="hidehyperlink">
                   <h2>Home Page</h2> </a>
            </center>
    </div> 
        <div class="column" style ="background-color:#DFDFDF;">
            <center>
              <a href="moreparks" class="hidehyperlink">
                <h2>More Parks</h2> </a>
    </center>
    </div>
        <div class="column" style = "background-color: #ACCEF8">
            <center>
              <a href="about" class = "hidehyperlink">
                <h2>About</h2> </a>
                </center>
    </div>
      </div>
      <div class="textbody" >
      <h3> Bug Free Campground is located off of Binary Boulevard and Syntax Street in Pigeon Hole Praire, UI. Bug Free Campground offers an etensive trails system with over 15 miles of hiking, biking,
        and equestrian trails. We offer swimming, fishing, and kayak and row boat rentals available from 10:00AM to 5:00PM Friday-Monday.
        Come explore the natural world with Bug Free Campground!
    </div>

      </h3>
      <center>
      <img src="images/mockmap.jpg" alt="mockmap" style="width:1000px;height:562px;">
    </center>
        </p> 
        <center>
        <form action="" method="get" class="form-example">
            <div class="form-example">
              <label for="name">Enter your name: </label>
              <input type="text" name="name" id="name" required />
            </div>
            <div class="form-example">
              <label for="email">Enter your email: </label>
              <input type="email" name="email" id="email" required />
            </div>
              <div class="form-example">
                <label for="phone">Enter your phone number: </label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />

            </div>
                <label for="sites">Select a type of campsite:</label>

<select name="sites" id="sites">
  <option value="volvo">Full hookup</option>
  <option value="saab">Water and electric</option>
  <option value="mercedes">Rustic site</option>
</select>
                

                    <form method="post">
                        <fieldset>
                          <legend>Do you agree with the rules and regulations?</legend>
                          <label><input type="radio" name="radio" value="yes" /> Yes</label>
                          <label><input type="radio" name="radio" value="no" /> No</label>
                        </fieldset>
                      </form>
                      <div class="form-example">
                        <input type="submit" value="Search availability" />
                      </center>
              </div>
            </div>
          </form>
          

    </a>
</body>
<footer>
    <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project. </p>
  </footer>
</html>