<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="reservations">Reservations</a>
        <a href="moreparks">More Parks</a>
        <b>Bug Free Campground</b>
    </div>
    
    <h1 style="text-align: center;">Search Results</h1>
    <hr width="100%" size="2">
    <h2 style="text-align: center;">Dates Selected:</h2>
    <center>
        <p>
            <span id="start-date"></span> to <span id="end-date"></span>
        </p>
    </center>
    
    <main>
        <div class="container">
            <div class="main">
                <div class="sidebar">
                    <center>
                        <h1>Available Sites</h1>
                    </center>

                    <div class="site-element-container">
                    <!-- Iterate over sites to display each site dynamically -->
                    <div th:each="site : ${sites}" class="siteElement">
                        <img class="img" th:src="@{'/images/' + ${site.site_id} + '.jpg'}" alt="Site Image"
                            title="Image of site" draggable="false">
                        <div class="boxtext">
                            Site <span th:text="${site.site_id}">Site ID</span>
                            <br> Price Per Night: $ <span th:text="${site.cost_per_day}">price goes here</span>
                            <br>  <span th:text="${site.description}">description goes here</span>

                            <!-- Conditional rendering for site type -->
                            <div th:if="${site.full_hookup}">
                                Full Hookup
                            </div>
                            <div th:if="${site.rustic}">
                                Rustic
                            </div>
                            <div th:if="${site.water_and_electric}">
                                Water and Electric
                            </div>
                            <!-- End conditional rendering -->

                            <button class="selectBtn" type="button"
                                th:onclick="'select_siteId(' + ${site.site_id} + ')'">Select</button>
                        </div>
                    </div>
                </div>
                    <!-- End iteration -->
                    
                </div>
                <div class="content">
                    <form>
                        <center>
                            <h3>Please enter the required information to make a reservation</h3>
                            <hr width="100%" size="2">
                            <label for="first-name"><b>Enter your first name:</b></label>
                            <input style="width: 100%; height: 30px; border-radius: 5px; border-color:black ;" type="text" name="firstName" id="first-name" required placeholder="First Name" />
                            <label for="last-name"><b>Enter your last name:</b></label>
                            <input style="width: 100%; height: 30px; border-radius: 5px; border-color:black ;" type="text" name="lastName" id="last-name" required placeholder="Last Name" />
                            <label for="email"><b>Enter your email:</b></label>
                            <input style="width: 100%; height: 30px; border-radius: 5px; border-color:black ;" type="email" name="email" id="email" required placeholder="Email" />
                            <label for="phone"><b>Enter your phone number:</b></label>
                            <input style="width: 100%; height: 30px; border-radius: 5px; border-color:black ;" type="tel" id="phone" name="phone" pattern="\d {10}" required
                                placeholder="1234567890" />
                                
                            <fieldset>
                                <legend>Do you agree with the rules and regulations?</legend>
                                <label><input type="radio" id="agreed-to-terms" name="radio" value="yes" /> Yes</label>
                                <label><input type="radio" name="radio" value="no" /> No</label>
                            </fieldset>

                            <input type="hidden" id="reservation-start-date" name="reservationStartDate">
                            <input type="hidden" id="reservation-end-date" name="reservationEndDate">
                            <input type="hidden" id="selectedSiteId" name="selectedSiteId">

                            <input id="reservation-submit-btn" type="submit" value="Make Reservation" />
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>About This Project: This website was created in Summer 2024 for CSI 2999, Sophomore Project.</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Retrieve the start date and end date from the URL query parameters
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const startDate = urlParams.get('startDate');
            const endDate = urlParams.get('endDate');

            // Display the start date and end date on the page
            document.getElementById('start-date').textContent = startDate;
            document.getElementById('end-date').textContent = endDate;

            // Set hidden input values
            document.getElementById('reservation-start-date').value = startDate;
            document.getElementById('reservation-end-date').value = endDate;
        });

        function select_siteId(siteID) {
            const siteIdInt = Number(siteID);
            document.getElementById('selectedSiteId').value = siteIdInt;
        }
    </script>

    <script src="js/reservation.js"></script>
    <script src="js/loadSelectedSite.js"></script>
</body>

</html>